@import url("https://fonts.cdnfonts.com/css/gobold");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
input {
  border-style: none;
  background: transparent;
  outline: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
* {
  font-family: "Gobold";
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Gobold";

  /* background-color: rgb(59, 48, 48);*/
  background: #22232f;
  background-size: cover;
  filter: opacity(0.9);
  color: white;
  overflow-x: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

input {
  background: rgba(57, 63, 84, 0.8);
  color: #7881a1;
}

input:focus {
  color: #bfd2ff;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.hidden {
  display: none;
}

.city-input {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: rgba(57, 63, 84, 0.8);
}

.city-input::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.city-input input {
  flex-grow: 1;
  color: #7881a1;
  font-size: 1rem;
  line-height: 0.5rem;
  vertical-align: middle;
}

.city-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.city-input button {
  color: v;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}

.city-input button:hover {
  color: #bfd2ff;
}

.daily-weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-weather-info__date {
  font-size: 0.6rem;
}

.daily-weather-info__temperature {
  font-size: 1rem;
}

.daily-weather-info__weather {
  font-size: 0.7rem;
}

.daily-weather-info__img {
  width: 50px;
}

.week-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5vw;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin-left: 35%;
}

.weather-info__city {
  font-size: 1.5rem;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.weather-info__date {
  margin-bottom: 5vh;
}

.weather-info__weather {
  font-size: 2rem;
}

.weather-info__temperature {
  font-size: 2rem;

  font-weight: bold;
}

.weather-info__weather-img {
  height: 300px;
  width: 300px;
  margin-bottom: -10vh;
}
